h2 {
	font-size: 1.4em;
}

p {
	font-size: 1em;
}


.prog {
  font-size: 1.5em;
}

.solution {
  font-size: 1.3em;
}

.unimplemented {
  color: gray;
}

.fieldset-auto-width {
	display: inline-block;
}


table {
  border-collapse: collapse;
}

th, td {
	padding-left: 2em;
	padding-right: 2em;
}

.show-td {
    border: 1px solid #333;
}

.show-td-line {
    border: 1px solid #ffffff;
}


.show-th {
    border: 2px solid #333;
}

.no-show-td {
    visibility: hidden;
}

.no-show-th {
	border: 2px solid #ffffff;
    visibility: hidden;
}

.disabled-row {
	background-color: rgba(255,100,100,0.8);
}

.num-value {
	text-align: right;
}

input { 
    text-align: right; 
}

.answer-input {
	font-size: 1.0em;
	text-align: center; 
	/* text-decoration: line-through; */
}

#resultat {
	height: 2em;
	margin-left: 8.0em;
	font-size: 2em;
}

#nav-buttons {
	margin-left: 4.0em;
}

#chrono-field {
	border-radius: 50%; 
	border: 1px solid #000000;
	background-image: url("../icons/hare.png");
	background-repeat: round;
	background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}


button {
	font-size: 1em;
}
