
.unimplemented {
  color: gray;
}

#pictures {
	display: table-row; 
	/* display: flex; justify-content: center; */
}

#header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.observationFrame {
	display: table-cell;
    width: 15%;
    height: 30%;
	/* border: 2px solid gray; */
	vertical-align:middle;
	/* display: flex; justify-content: center; */
}

.observationImg {
	/* horizontal centering */
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	/*vertical-align:middle;*/
	
	max-width: 90%;
	max-height: 90%;
	
	border: 2px solid black;
}

.centeredText {
	text-align: center;
}

.centering {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex {
	display: flex;
	align-items: center;
}